/* Variables */
:root{
    --black: #000000;
}
/* font-face*/
@font-face{
    font-family: Notiicia;
    src: url(../fonts/NoticiaText-Bold.woff);
}
@font-face{
    font-family: WorkSans-Regular;
    src: url(../fonts/WorkSans-Regular.woff);
}
@font-face{
    font-family: WorkSans-Medium;
    src: url(../fonts/WorkSans-Medium.woff);
}
@font-face{
    font-family: WorkSans-SemiBold;
    src: url(../fonts/WorkSans-SemiBold.woff);
}
/* Global CSS */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'WorkSans-Regular';
}
/* container css starts */
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
/* container css ends */
/* by grid css starts */
/* banner_grid_complete CSS starts */
.banner{
    height: 800px;
}
.banner_grid_complete{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left_column,
.right_column{
    display: grid;
    gap: 25px;
    height: 500px;
}
/* left_column css starts */
.left_column h1{
    font-family: 'Noticia';
    font-size: 50px;
    width: 70%;
    padding-top: 90px;
}
.left_column p{
    font-size: 17px;
    width: 89%;
    padding-bottom: 20px;
    font-weight: 100;
    line-height: 25px;
}
.left_column img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* left_column css ends */
/* right column css starts */
.right_column iframe{
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
    display: block;
}
.right_first_para,.right_second_para{
    padding-left: 80px;
    line-height: 25px;
    height: max-content;
}
.right_first_para{
    font-size: 17px;
    width: 95%;
    font-weight: 100;
}
.right_second_para{
    font-size: 17px;
    width: 95%;
    font-weight: 100;
}
/* right column css ends */
/* banner_grid_complete CSS ends */
/* by grid css ends */
/* by flex starts */
/* home-flex section css starts  */
.home-flex{
    padding-top: 40px;
}
.home-complete{
    display: flex;
}
/* left column css starts */
.star-wars{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}
.star-wars h1{
    font-family: 'Noticia';
    font-size: 50px;
    width: 70%;
    padding-top: 90px
}
.star-wars p{
    font-weight: 100;
    font-size: 17px;
    width: 89%;
    padding-bottom: 20px;
    line-height: 25px;
}
.star-wars img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}
/* left column css ends */
/* right column css starts */
.solo-trailer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.solo-trailer iframe{
    height: 300px;
    width: 100%;
}
.solo-trailer p:first-of-type{
    font-size: 17px;
    width: 95%;
    font-weight: 100;
    padding-left: 80px;
    line-height: 25px;
}
.solo-trailer p:last-of-type{
    font-size: 17px;
    font-weight: 100;
    width: 95%;
    padding-left: 80px;
    line-height: 25px;
}
/* right column css ends */
/* home-flex section css ends */
/* by flex ends */
/* media query starts for both grid and flex */
@media  only screen and (max-width:576px){
  .banner_grid_complete{
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .left_column h1 {
    font-size: 32px;
    width: 100%;
    padding-top: 40px;
  }
  .right_first_para,
  .right_second_para {
    font-size: 15px;
    padding-left: 10px;
  }
  .home-flex{
    padding-top: 400px;
  }
  .home-complete{
    flex-direction: column;
    gap: 30px;
  }
  .star-wars{
    width: 100%;
  }
  .star-wars h1{
    width: 100%;
    font-size: 35px;
  }
  .star-wars p{
    width: 100%;
  }
  .solo-trailer{
    width: 100%;
  }
  .solo-trailer p:first-of-type{
    padding-left: 10px;
    font-size: 15px;
  }
  .solo-trailer p:last-of-type{
    padding-left: 10px;
    font-size: 15px;
  }
}

